body{
	margin: 0;
	font-family: Helvetica;
}

h1{
	font-weight: 300;
	color: blue;
}

#logo{
	width: 150px;
	height: 80px;
	padding-right: 20px;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column; /* makes elements on top of each other */
}